@model IEnumerable<WebApplication5.Models.TestType>

@{
    ViewBag.Title = "View All Test Types";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<h2 class="text-center">All Test Types</h2>

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">

            <table class="table">
                <thead>
                    <tr>
                        <th>Test Type Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TestTypeName)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
